nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(152, 95, 179, 0.252);
    padding: 10px 30px;
}
#item-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
#item-link li {
    padding: 0px 20px;
    position: relative;
}
#item-link li a {
    font-size: 20px;
    font-weight: 1.3rem;
}
#item-link li a:hover {
    color: rgb(39, 231, 39);
}
#item-link li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
@media only screen and (max-width: 557px) {
    #item-link{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 69px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: white;
        box-shadow: 0 40px 60px rgb(0, 0,0,.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        position: fixed;
        z-index: 1000;
    }
    #item-link.active {
        right: 0px;
       
    }
    #item-link li {
        padding: 10px 10px;
        width: 100%;
    }
    
}