.form-area input {
    padding: 10px 70px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
} 
.tx {
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .form-area input {
        padding: 10px 20px;
    }
  }